/* Variables and mixins declared here will be available in all other SCSS files */

$background-color: rgb(111, 255, 111);
$menu-color: white; 

$board-border-color: black;
$cell-border-color: grey;

