/* Variables and mixins declared here will be available in all other SCSS files */


$dark-background-color: #1A202C;
$light-background-color: #E7EFEA;
$primary-color: #ff5757;
$light-secondary-color: #2E4147;

$board-border-color: black;
$cell-border-color: grey;

$numeric-button-color: #E476FF;